In [2]:
import pandas as pd
before = pd.read_csv("socialdistancing/2020/02/01/2020-02-01-social-distancing.csv")
after = pd.read_csv("socialdistancing/2020/04/01/2020-04-01-social-distancing.csv")

In [3]:
before.head()

,origin_census_block_group,date_range_start,date_range_end,device_count,distance_traveled_from_home,bucketed_distance_traveled,median_dwell_at_bucketed_distance_traveled,completely_home_device_count,median_home_dwell_time,bucketed_home_dwell_time,at_home_by_each_hour,part_time_work_behavior_devices,full_time_work_behavior_devices
0,10150007002,2020-02-01T00:00:00-06:00,2020-02-02T00:00:00-06:00,105,7605,"{""16001-50000"":7,"">50000"":7,""<1000"":11,""2001-8...","{""16001-50000"":70,"">50000"":229,""<1000"":10,""200...",33,504,"{""721-1080"":17,""361-720"":11,""61-360"":16,""<60"":...","[48,52,51,52,49,52,51,49,49,45,45,38,38,44,42,...",8,11
1,10299598001,2020-02-01T00:00:00-06:00,2020-02-02T00:00:00-06:00,166,28555,"{""16001-50000"":53,"">50000"":32,""<1000"":15,""2001...","{""16001-50000"":21,"">50000"":40,""<1000"":46,""2001...",34,861,"{""721-1080"":48,""361-720"":18,""61-360"":13,""<60"":...","[106,104,105,102,104,105,98,97,88,81,65,57,54,...",27,23
2,10299598001,2020-02-01T00:00:00-05:00,2020-02-02T00:00:00-05:00,166,28555,"{""16001-50000"":53,"">50000"":32,""<1000"":15,""2001...","{""16001-50000"":21,"">50000"":40,""<1000"":46,""2001...",34,861,"{""721-1080"":48,""361-720"":18,""61-360"":13,""<60"":...","[106,104,105,102,104,105,98,97,88,81,65,57,54,...",27,23
3,10730109006,2020-02-01T00:00:00-06:00,2020-02-02T00:00:00-06:00,48,7219,"{""16001-50000"":5,"">50000"":5,""<1000"":6,""2001-80...","{""16001-50000"":239,"">50000"":159,""<1000"":87,""20...",12,376,"{""721-1080"":6,""361-720"":7,""61-360"":6,""<60"":19,...","[19,21,21,20,18,20,18,17,17,20,15,14,16,12,13,...",5,7
4,11250103023,2020-02-01T00:00:00-06:00,2020-02-02T00:00:00-06:00,162,12114,"{""16001-50000"":25,"">50000"":18,""<1000"":19,""2001...","{""16001-50000"":33,"">50000"":49,""<1000"":34,""2001...",32,771,"{""721-1080"":38,""361-720"":15,""61-360"":16,""<60"":...","[82,84,82,82,84,79,83,82,77,73,63,53,54,54,52,...",23,19

In [60]:
main = pd.read_csv("fips/us-state-ansi-fips.csv")
main.head()

       stname  st stusps
0     Alabama   1     AL
1      Alaska   2     AK
2     Arizona   4     AZ
3    Arkansas   5     AR
4  California   6     CA

In [61]:
main['before_total'] = 0
main['before_athome'] = 0
main['before_percent'] = 0

main['after_total'] = 0
main['after_athome'] = 0
main['after_percent'] = 0

In [62]:
main.head()

,stname,st,stusps,before_total,before_athome,before_percent,after_total,after_athome,after_percent
0,Alabama,1,AL,0,0,0,0,0,0
1,Alaska,2,AK,0,0,0,0,0,0
2,Arizona,4,AZ,0,0,0,0,0,0
3,Arkansas,5,AR,0,0,0,0,0,0
4,California,6,CA,0,0,0,0,0,0

In [1]:
num = 10
for i in range(num):
    fipsID = before['origin_census_block_group'][i]
    fipsID = int(fipsID//1e10)

    index = fips.index[fips['st'] == fipsID]
    
    deviceCount = before['device_count'].iloc[i] + main.loc[index, 'before_total']
    atHome = before['completely_home_device_count'].iloc[i] + main.loc[index, 'before_athome']
    
    main.loc[index, 'before_total'] = deviceCount
    main.loc[index, 'before_athome'] = atHome
    main.loc[index, 'before_percent'] = (deviceCount/atHome)*100

NameError: name 'before' is not defined

In [64]:
num = after.shape[0]
for i in range(num):
    fipsID = after['origin_census_block_group'][i]
    fipsID = int(fipsID//1e10)
    
    index = fips.index[fips['st'] == fipsID]
    
    deviceCount = after['device_count'].iloc[i] + main.loc[index, 'after_total']
    atHome = after['completely_home_device_count'].iloc[i] + main.loc[index, 'after_athome']
    
    main.loc[index, 'after_total'] = deviceCount
    main.loc[index, 'after_athome'] = atHome
    main.loc[index, 'after_percent'] = (deviceCount/atHome)*100

KeyError: 219285

In [65]:
main

,stname,st,stusps,before_total,before_athome,before_percent,after_total,after_athome,after_percent
0,Alabama,1,AL,0,0,0.000000,0,0,0.000000
1,Alaska,2,AK,0,0,0.000000,0,0,0.000000
2,Arizona,4,AZ,0,0,0.000000,0,0,0.000000
3,Arkansas,5,AR,0,0,0.000000,0,0,0.000000
4,California,6,CA,0,0,0.000000,0,0,0.000000
5,Colorado,8,CO,0,0,0.000000,0,0,0.000000
6,Connecticut,9,CT,0,0,0.000000,0,0,0.000000
7,Delaware,10,DE,399908,92464,432.501298,376029,125281,300.148466
8,District of Columbia,11,DC,148106,34354,431.117192,136643,46589,293.294555
9,Florida,12,FL,1548588,421898,367.052700,1372146,556948,246.368781
10,Georgia,13,GA,805831,189750,424.680369,742013,277487,267.404599
11,Hawaii,15,HI,70852,15956,444.046127,63319,26512,238.831473
12,Idaho,16,ID,100534,27501,365.564889,87865,35120,250.185080
13,Illinois,17,IL,815504,203641,400.461597,742504,327146,226.964108
14,Indiana,18,IN,470398,118760,396.091277,432117,176757,244.469526
15,Iowa,19,IA,253179,64482,392.635154,227254,79959,284.213159
16,Kansas,20,KS,242053,56769,426.382357,226370,87031,260.102722
17,Kentucky,21,KY,315265,77247,408.125882,298302,112299,265.631929
18,Louisiana,22,LA,361961,76200,475.014436,330622,115550,286.128949
19,Maine,23,ME,66282,17276,383.665200,59673,23623,252.605512
20,Maryland,24,MD,350664,92782,377.943998,302506,152315,198.605521
21,Massachusetts,25,MA,321935,83120,387.313523,280035,135654,206.433279
22,Michigan,26,MI,659496,176102,374.496599,588451,277424,212.112506
23,Minnesota,27,MN,345263,85677,402.982131,330975,142073,232.961224
24,Mississippi,28,MS,247467,51200,483.333984,234690,68007,345.096828
25,Missouri,29,MO,471696,110646,426.310938,436762,160255,272.541886
26,Montana,30,MT,53746,15363,349.840526,47498,19176,247.695035
27,Nebraska,31,NE,148380,34907,425.072335,140122,47068,297.701198
28,Nevada,32,NV,173334,46825,370.174052,151505,65466,231.425473
29,New Hampshire,33,NH,79016,18906,417.941394,68902,29691,232.063588
30,New Jersey,34,NJ,545939,132021,413.524364,474396,243292,194.990382
31,New Mexico,35,NM,100944,26522,380.604781,92163,35564,259.146890
32,New York,36,NY,1005653,278677,360.866882,872704,447562,194.990638
33,North Carolina,37,NC,718912,176426,407.486425,650472,260371,249.825057
34,North Dakota,38,ND,52269,12457,419.595408,50476,19661,256.731601
35,Ohio,39,OH,818814,206217,397.064258,748253,325694,229.741107
36,Oklahoma,40,OK,735066,177887,413.220753,678783,262133,258.946031
37,Oregon,41,OR,222565,63944,348.062367,189879,83425,227.604435
38,Pennsylvania,42,PA,738223,197056,374.625995,655083,309078,211.947470
39,Rhode Island,44,RI,53945,13925,387.396768,46355,21255,218.089861
40,South Carolina,45,SC,382595,91599,417.684691,353864,123737,285.980749
41,South Dakota,46,SD,55313,13217,418.498903,54799,19595,279.658076
42,Tennessee,47,TN,505406,122471,412.674021,475420,175241,271.294960
43,Texas,48,TX,2170421,478678,453.419835,1950308,780575,249.855299
44,Utah,49,UT,168572,40205,419.281184,164043,64771,253.266122
45,Vermont,50,VT,169710,39136,433.641660,161563,52495,307.768359
46,Virginia,51,VA,622117,155716,399.520281,560226,238348,235.045396
47,Washington,53,WA,399209,112370,355.262971,345276,159235,216.834239
48,West Virginia,54,WV,116674,30195,386.401722,103752,41696,248.829624
49,Wisconsin,55,WI,357657,90017,397.321617,331770,137337,241.573647
50,Wyoming,56,WY,33020,9828,335.978836,31081,11590,268.170837